<!DOCTYPE html>
<head></head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <button class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Gallery</button>
        <div class="modal fade bs-example-modal-lg" id="exampleModal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="{% static 'images/slidepicA.jpg' %}" style ="width:480px; height:270px" alt="First slide">
                            </div>
                            <div class="item">
                                <img src="{% static 'images/slidepicB.jpg' %}" style ="width:480px; height:270px" alt="Second slide">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>