<!DOCTYPE html>
<head></head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <p>Email: michelleshie31009@gmail.com</p>
    <img src = "{% static 'images/rainbowart.jpg' %}" style = "width:250px; height:250px">
    <p>Art Commision by Jesselyn</p>
    <img src = "{% static 'images/dumboart.png' %}" style = "width:250px; height:250px">
    <p>Art Commision by Michael</p>
    {% endblock %}
</body>
</html>