<!DOCTYPE html>
<head></head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <p>Blog</p>
    <img src = "{% static 'images/blogpic.jpg' %}" class = "center">
    <p>Saya sangat bersyukur dapat bertemu dengan teman-teman saya sekarang ini. Dengan adanya mereka, kehidupan perkuliahanku menjadi lebih seru.</p>
    <p>(Erica yang ambis, Jessie yang sibuk berorganisasi, Nalton yang pendiam, Yose yang dramatis, Eko yang OP, WH yang suka debat, Wandi yang rajin, Geo yang gombal, Denny yang bucin,..)</p>
    <img src = "{% static 'images/cinnamoroll.gif' %}" style = "width:300px; height:300px" class = "center">
    {% endblock %}
</body>
</html>