<!DOCTYPE html>
<head></head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <img src = "images/transparentpic.png" style = "width:221.5px; height:332.25px">
    <p>
    <h4>Biodata</h4>
    <table class = "tg">
        <tr>
            <td class = "gfont"><b>NPM</td>
            <td class = "gfont">1906293165</td>
        </tr>
        <tr>
            <td class = "gfont"><b>Angkatan</td>
            <td class = "gfont">2019 ~ Maung</td>
        </tr>
        <tr>
            <td class = "gfont"><b>Deskripsi</td>
            <td class = "gfont">Optimis yes</td>
        </tr>
        <tr>
            <td class = "gfont"><b>Hobi</td>
            <td class = "gfont">Bernyanyi, dance, menggambar</td>
        </tr>
        <tr>
            <td class = "gfont" style = "vertical-align: top;"><b>Riwayat Pendidikan</td>
            <td class = "gfont"> - TK SUTOMO 1
                <br> - SD SUTOMO 1
                <br> - SMP SUTOMO 1
                <br> - SMA SUTOMO 1
            </td>
        </tr>
        <tr>
            <td class = "gfont"><b>Tempat Kuliah</td>
            <td class = "gfont">Universitas Indonesia</td>
        </tr>
    </table>
    </p>
    {% endblock %}
</body>
</html>