<!DOCTYPE html>
<body>
{% extends 'base.html' %}
{% block navbar %}
<script>
function myFunction() {
	document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

	var dropdowns = document.getElementsByClassName("dropdown-content");
	var i;
	for (i = 0; i < dropdowns.length; i++) {
	  var openDropdown = dropdowns[i];
	  if (openDropdown.classList.contains('show')) {
		openDropdown.classList.remove('show');
	  }
	}
  }
}

</script>

    <div class = "container">
        <section id = "main">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn btn">Menu</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{% url 'lalala' %}">Art commisions</a>
                    <a href="{% url 'testy' %}">Biodata</a>
                    <a href="{% url 'ohoho' %}">Blog</a>
                    <a href="https://id.linkedin.com/in/michelle-shie-57450b192" target="_new">Contact</a>
                    <a href="https://www.instagram.com/michelle.shie" target="_new">Social media</a>
                    <a href="{% url 'gallery' %}">Gallery</a>
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock %}
</html>